.add-header{
    margin-top: 4%;
}

.address-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.address-bx{
    height : 18em;
    width : 18em;
    border: 1px solid #CCCCCC;
    margin-right : 5px;
    margin-bottom: 5px;
    padding-left : 5px;
    padding-top : 5px;
}
.add-bx:hover{
    border-radius: 50%;
}
.add-bx{
    height: 18em;
    width : 18em;
    border: 5px solid #CCCCCC;
    transition: 0.3s;
    display: flex;
    align-items : center;
    justify-content: center;
    text-align: center;
    color : white;
    background-color: rgb(11, 150, 243);
}
