
  
 
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: flex;
  }
  
  .left-half {
    background-color: #fff;
    flex: 1;
    padding: 1rem;
    margin: 2% 2%;
  }
  
  .right-half {
    background-color: #fff;
    flex: 7;
    padding: 1rem;
    margin: 2% 2%;
    border: 5px solid;
    margin-bottom: 5%;
  }


  
  
  .menu-container {
    color: #000;
    background-color: #fff;  /* Blue */
    border: 3px solid;
  }
  
  .menu {
    border: 1px solid #fff;  /* For debugging */
    width: 100%;
    display: flex;
    justify-content: space-around;
    
  }

  .menu-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

.btn-success{
  background-color: rgb(112, 208, 253);
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;

}

.btn-success:hover{
  background-color: rgb(1, 238, 255);
}