@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
:root {
    --main-color: #203447;
    --main-color-light: rgba(32, 45, 65, 0.09);
}

p {
    margin-bottom: 0.3rem;
}

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    color: #0007ff;
}

.disabled-link {
    pointer-events: none;
}

.App {
    background: #000;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 100vh;
    font-family: Futura, sans-serif;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.dalogo {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    display: block;
}

.logo {
    width: 50%;
    height: 8%;
}

.header {
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    font-weight: 600;
}

.container {
    padding-bottom: 3em;
}

.container-custom {
    border-radius: 1em;
    background-color: #f2f2f2;
    padding: 2.5%;
    color: #272761;
    margin-bottom: 2em;
}

/*navigation bar*/

.bg-dark {
    background-color: #203447;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item {
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.fa {
    transition: all 300ms;
}

.nav-link:hover > .fa{
    transform: scale(1.2);
    transition: all 300ms;
}
/*PC VIEW*/
@media screen and (min-width: 600px) {
    #bt1{
        margin-left: 85%;
    }
    #position_address{
        padding-top: 30px;
    }
    .order_buttons{
        font-weight: bold;
        margin-left: 570px;
        margin-top: 8px;
        text-align: justify;
    }
    #delete_button{
        width: 50px;
        margin-left: 12px;
    }

    #search_bar_position {
        float: right;
    }
    .active {
        font-weight: 600;
        /* text-decoration-line: overline;
        text-decoration-style: dashed;
        text-decoration-color: white; */
        /* border-bottom: white;
        border-bottom-style: solid; */
    }

    #navbarNavDropdown ul {
        width: 100%;
    }
}

.my-sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.my-sticky-top + .content {
    display: block;
    padding-top: 48px;
}

/*service list*/

.submit {
    background-color: #272761;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
}

.submit:hover {
    background-color: #2b2b7b;
}

/*order form*/

.checkbox-cstm {
    min-height: 26px;
    display: flex;
    align-items: center;
    margin: 0px;
}

input[type=checkbox] {
    margin: 0px;
    position: relative;
    left: -4px;
}

input[type=submit] {
    cursor: pointer;
}

/*All Orders*/

.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.order-card {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.cart-card {
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.search-bar {
    padding-left: 25px;
    align-items: flex-end;
    justify-content: flex-end;
}

.search-icon {
    position: relative;
    display: inline-block;
    top: 10px;
    left: 20px;
}

.hl {
    background: #ffc600;
}

.wrap-table100 {
    width: 1170px;
}

.limiter table {
    border-collapse: collapse;
    background: white;
    /*border-radius: 10px;*/
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.limiter table * {
    position: relative;
}

.limiter table td, table th {
    padding-left: 8px;
}

.limiter table thead tr {
    height: 60px;
    background: #34363a;
}

.limiter table tbody tr {
    height: 50px;
    border-bottom: 1px solid black;
    border-top: 0px;
}

.limiter table tbody tr:last-child {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.limiter table td, table th {
    text-align: left;
}

.limiter table td.l, table th.l {
    text-align: right;
}

.limiter table td.c, table th.c {
    text-align: center;
}

.limiter table td.r, table th.r {
    text-align: center;
}

.limiter .table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}


.limiter tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

.limiter tbody tr:hover {
    color: black;
    box-shadow: 5px 2px 6px 2px #777777;
    transition: all 0.3s;
    cursor: pointer;
}

.limiter .more-items {
    font-weight: bold;
    text-indent: 15px;
}

/* CUrrent order mobile UI */
@media screen and (max-width: 475px){
    #position_steps{
        font-weight: bold;
        margin-top: 10px;

    }
    #position_bar {
        padding-top: 150px;
    }
    #position_labelsize{
       height: 48px;
    }
    #position_dot{
        margin-top: 10px;
    }

    #position_lable{
        font-weight: bold;
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
    #position_data{
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
    .position_head{
        text-align: center;
        width: 100%;
        font-weight: bold;
        padding-top: 20px;
    }

}

.position_head {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
}

.payment-fail-header {
    background-color: #eaeaea;
    border-bottom: 1px solid #b0b0b0;
    display: flex;
    justify-content: space-between;
}
.payment-fail-body {
    overflow-y: scroll;
    max-height: 35em;
}
.payment-fail-footer {
    background-color: #eaeaea;
    border-top: 1px solid #b0b0b0;
}
.payment-fail-card {
    margin-left: 12px;
    margin-right: 12px;
    /* margin-top: 2px; */
    margin-bottom: 5px;
    border: 0.15rem solid #bbbbbb; 
    border-radius: 6px; 
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.payment-fail-card-left {
    padding-left: 1%;
}
.payment-fail-card-right {
    text-align: right; 
    font-style: italic;
    padding-right: 1%; 
}

/* MOBILE VIEW*/
@media screen and (max-width: 369px){


    #position_address{
        padding-top: 27px;
    }
    #table_position{
        border: 10px #000;
    }
    #avatar_position{
        display: none;
    }
    #avatar_for_mobile{
        display: inline-block;
        font-weight: bold;
    }
    #delete_button{
        width: 110px;
        margin-left: 12px;
    }
    #heading_position{
        font-size: 40px;
    }
    #order_position {
        position: relative;
        overflow-y: scroll;
    }
    #search_bar_position {
        left: 50%;
        width: 100px;
    }
    .limiter table {
        display: block;
    }

    .limiter table > *, table tr, table td, table th {
        display: block;
        margin: 0%;
        width: 100%;
        text-align: left;

    }

    .limiter table thead {
        display: none;
    }

    .limiter table tbody tr {
        height: auto;
        padding: 37px 0;
        border: 1px solid black;
        border-top: 0px;
        width: 100%;

    }

    .limiter table tbody tr td {
        text-align: center;
        margin-bottom: 4px;
        width: 100%;
    }

    .limiter table tbody tr td:last-child {
        margin-bottom: 0;
    }

    .limiter table tbody tr:first-child {
        border-top: 1px solid black;
    }

    .limiter table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: black;
        line-height: 1.2;
        font-weight: unset;
        position: relative;
        width: 40%;
        left: 0%;



    }

    .limiter table tbody tr td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 100%;

    }

    tbody tr {
        font-size: 14px;
    }

}
@media screen and (min-width: 476px){
    #position_lable{
        font-weight: 580;
        padding-left: 10px;
        width: 140px;
        height: 25px;
    }

    #position_data {
        flex: 1;
    }

    #spac{
        padding-left: 30px;
    }
}
/*TABLET VIEW*/
@media screen and (max-width: 600px) and (min-width: 370px){
    #position_address{
        padding-top: 30px;
    }
    #heading_position {
        font-size: 50px;
    }
    #delete_button{
        width: 170px;
        margin-left: 10px;
    }
    #edit_position {
        width: 190px;
        margin: 0%;
        display: inline-block;

    }
    #search_bar_position {
        left: 50%;
        width: 130px;
    }

    .limiter table {
        display: block;
    }

    .limiter table > *, table tr, table td, table th {
        display: block;
        margin: 0%;
        width: 100%;
        text-align: left;

    }

    .limiter table thead {
        display: none;
    }

    .limiter table tbody tr {
        height: auto;
        padding: 37px 0;
        border: 1px solid black;
        border-top: 0px;
        width: 100%;
    }

    .limiter table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 4px;
    }

    .limiter table tbody tr td:last-child {
        margin-bottom: 0;
    }

    .limiter table tbody tr:first-child {
        border-top: 1px solid black;
    }

    .limiter table tbody tr td:before {
        font-family: OpenSans-Regular;
        font-size: 14px;
        color: black;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }

    .limiter table tbody tr td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    tbody tr {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*Toggle Switch*/

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #28a745;
}

input:focus + .slider {
    box-shadow: 0 0 1px #28a745;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 50%;
}

/* Error message */
.radius {
    border-radius: 5px;
}

.spinner > div {
    width: 40px;
    margin: 0 auto;
}

.spinner > div > div {
    position: absolute;
    z-index: 30000;
    top: 14em;
    background-color: transparent;
    color: white;
    border: 0px;
}

/* Cart */

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}
@media screen and (max-width: 1199px) and (min-width: 990px){
    #bt1{
        left: 0%;
    }
    .order_buttons{
        left: 0%;
        margin-top: 2px;
        margin-left: 400px;
    }
}
@media screen and (max-width: 995px) and (min-width: 778px){
    .order_buttons{
        margin-top: -17px;
        margin-left: 500px;
    }
}

@media screen and (max-width: 777px) and (min-width: 618px){
    .order_buttons{
        margin-top: -17px;
        margin-left: 320px;
    }
}

@media screen and (max-width: 617px) and (min-width: 438px){
    .order_buttons{
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 437px){
    .order_buttons{
        margin-top: 10px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .position_badge {
        background-color: #000;
    }
    table#cart tbody td .form-control {
        display: inline !important;

    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
        color: #000;
        font-size: 150px;
    }

    .actions .btn-danger {
        float: left;
        width: 50%;

    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
        width: 100%;
        margin: 0%;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
        width: 100%;

    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }
}

/*steps */
.shopping-steps {
    padding: 25px 0;
    background: #fff;
}

.steps-box {
    position: relative;
    /*width: 100%;*/
    margin-right: auto;
    margin-left: auto;
}

.steps-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
    justify-content: space-around;
}

.steps-list li {
    display: flex;
    align-items: center;
    font-weight: 200;
    color: #b0b0b0;
    text-transform: uppercase;
}

.steps-name {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.steps-detail {
    display: flex;
    align-items: center;
}

.steps-num {
    font-size: 1.5rem;
    padding-right: 10px;
    font-weight: 200;
}

.current .steps-detail {
    color: #343a40;
}

.temp-active {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.temp-inactive {
    color: #343a40;
    background-color: #fff;
    border: 1px solid #343a40;
}

@media screen and (max-width: 600px) {
    .steps-list {
        flex-direction: column;
    }
}

/*Order Info*/

#orderinfo-main {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    background-color: #f5f5f5;
}

#orderinfo-mid {
    margin-top: 3rem;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 11px 0 hsla(200,5%,88%,.5);
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
}

#orderinfo-mid-heading {
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid #dbdbdb;
    padding: 1.3rem 1.6rem 0.6rem;
    display: flex;
    /* justify-content: space-between; */
}

#orderinfo-mid-body {
    /* padding: 1.3rem 1.6rem 0.6rem */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
}

#orderinfo-mid-body-card-heading {
    width: 100%;
    flex-direction: row;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    border-bottom: 0px solid;
    background-color: #fff;
}

#orderinfo-mid-body-card-body {
    width: 100%;
    display: flex;
    padding-top: 0rem;
    /* flex-direction: row; */
}

#orderinfo-mid-card-body-detail {
    font-size: 15px;
    line-height: 1.4;
}

#orderinfo-mid-card-body-detail > .detail-label {
    padding-right: 6px;
    font-weight: 600;
}

#orderinfo-mid-body-shipping {
    display: flex;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    justify-content: flex-end;
}

#orderinfo-bottom {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 11px 0 hsla(200,5%,88%,.5);
    margin-top: 3rem;
    flex-direction: row;
    font-family: 'Roboto',-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
}

.total-price {
    display: flex;
    width: 100%;
    color: blue;
    flex-direction: row-reverse;
    padding-right: 1%;
}

.total {
    font-size: 1.4rem;
}

.price {
    font-size: 3rem;
}

.place-order {
    clear: both;
    float: right;
}

/*Payment*/
.payment_service_info {
    border: 2px solid slategrey;
    border-radius: 8px;
    padding: 1.5%;
}

.payment_collection_info {
    margin-top: 25px;
    padding: 1.5%;
    border: 2px solid slategrey;
    border-radius: 8px;
}

.payment-operation {
    border: 2px solid slategray;
    margin-top: 25px;
    border-radius: 8px;
    background-color: white;
    font-weight: 300;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    padding-top: 1%;
}

.title-wrap {
    padding: 1em 0;
}

.payment {
    display: flex;
}

.payment-method-tabs {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}

.tab-payment {
    cursor: pointer;
    background: #e7e7e7;
    padding: 20px;
    margin-right: 0px;
    border-bottom: 2px solid #e7e7e7;
    border-right: 2px solid #343a40;
    text-align: center;
    font-size: 15px;
}

.tab-payment-active {
    background-color: white;
    border: 2px solid #343a40;
    border-right-width: 0px;
    border-left-width: 8px;
    font-size: 15px;
}

.payment-method-body {
    border: 2px solid #343a40;
    border-left-width: 0px;
    flex-basis: 90%;
    margin-left: 0px;
}

.zero-payment {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.zero-payment-btn {
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

/* Advanced search */
.advanced-search {
    float: right;
    margin-bottom: 1%;
    margin-right: 2%;
}

.advanced-search-btn {
    margin-bottom: 3px;
}

#searchForm {
    padding: 8px;
    border: 1px solid slategray;
}

/* order filter*/

.filter-col {
    padding-left: 10px;
    padding-right: 10px;
}

.order-status {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* About Us */

.about-us-header-overlay {
    position: relative;
    text-align: center;
    background-color: black;
}

.about-us-header-overlay img {
    opacity: 0.6;
}

.about-us-header {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.95;
}

.about-us-header span {
    color: white;
    font-size: 40pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-us-body {
    position: relative;
}

.about-us-body::before {
    background:url('../images/p1.jpg');
    background-size:100% 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.about-us-footer-overlay {
    background-image: url('../images/forest.png');
    background-size: cover;
}

.about-us-footer {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px; 
    color: rgba(255, 255, 255, 0.966);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.about-us-footer h1 {
    font-size: 36pt;
    padding: 27px 50px;
}

.about-us-footer h2 {
    font-size: 27pt;
    font-family: fantasy;
    text-align: center;
    margin-top: 150px;
}

.other-contribution {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other-contribution-card {
    max-width: 32%;
    border: 1px solid slategray;
    border-radius: 8px;
    padding: 2px;
    padding-left: 15px;
    margin: 10px;
    flex: 1 0 30%;
    box-shadow: 0 8px 10px 0 rgba(197, 202, 204, 0.726);
}

.other-contributor-name {
    font-size: 17pt;
}

.other-contributor-batch {
    font-size: 10pt;
    margin-left: 8px;
}

.other-contributor-contribution {
    font-size: 12pt;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    #position_address{
        padding-top: 30px;
    }
    .about-us-body{
        background: #fff;
    }
    .about-us-body::before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.3;
        content: "";
        display: block;
        position: absolute;
    }
}

hr.style14 {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }

.my-header {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 10px 50px 50px 50px;
    text-align: center;
    margin:0%;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow:
    1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
}

.deepshadow {
    color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
  }
.my-header2 {
    font-family: 'cursive';
    text-align: center;
    margin-top: 1%;
    color: yellow;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
  }
  .wrapper i {
    padding: 10px;
    margin-bottom: 30px;
    text-shadow: 0px 4px 6px rgba(61, 56, 56, 0.6);
    transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(4) {
    color: #dd4b39;
  }
  .wrapper a:nth-child(1) {
    color: #4867AA;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper a:nth-child(2) {
    color: black;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }


  .dash {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.404);
}


  .user-list td, .user-list th{
      width: 150px;
  }

.file-upload-card {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}
