:root {
    --main-color: #203447;
    --main-color-light: rgba(32, 45, 65, 0.09);
}

body {
    background: white;
}

.App {
    background: #000;
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 100vh;
    font-family: Futura, sans-serif;
    background-position: center;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.dalogo {
    position: absolute;
    width: 384px;
    height: 384px;
    top: 15%;
    left: 10%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.logo {
    width: 50%;
    height: 8%;
}

.header {
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

/*naviagatin bar*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .li-grp-bg {
    background-color: rgba(231, 231, 231, 0.46);
}

.navbar {
    background-color: var(--main-color);
}

.navbar-inverse .navbar-nav > li > a {
    color: #fffefe;
    opacity: 0.85;
}

.navbar-inverse .navbar-brand {
    color: #fffefe;
    opacity: 0.85;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #fffefe;
    opacity: 1;
}

.navbar-inverse .navbar-brand:hover {
    opacity: 1;
}

