.App {
  background: #000;
  min-height: 100vh;
  font-family: Futura, sans-serif;
  background-position: center;
 }
 #canvas, #text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
#text {
 min-height: 100vh;
 width: 100vw;
 z-index: 1;
 color: #fff;
 text-transform: uppercase;
 font-size: 8vmin;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
#text h1 {
  opacity: 0.9
}

.loginbox{
  max-width: 320px;
  background: lightgrey;
  box-sizing: border-box;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.dalogo{
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.logo{
  width: 50em;
  height: 8em;
}

.loginbox p{
  margin: 0;
  padding-bottom: 5px;
  font-weight: bold;
  color: #fff;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
  border: 1px solid #000;
  border-radius: 9px;
  background: #fff;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16;
  padding-left: 5px;
}
.loginbox input[type="button"]{
  border:none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="button"]:hover{
  cursor: pointer;
  background: green;
  color: #000;
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover{
  color: red;
}

.preformat{
  background: rgb(143, 220, 250);
}

.genPassBtn{
  background:  rgb(10, 187, 10);
  border-radius: 5px;
  color: #fff;
  box-shadow: none;
}

.genPassBtn:hover{
  cursor: pointer;
  background: rgb(3, 151, 3);
}

.signUpEle{
  border: 1px solid #000;
  border-radius: 2px;
  background: #fff;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16;
  padding-left: 5px;
}


.header{
  text-align: center;
  padding: 10px;
  font-weight: 600;
}


.tabmodal{
  width: 86%;
  margin: 7%;
  margin-top: 2%;
  border: 2px solid black;
  border-color: black;
}

.tabname{
  display: flex;
}

.notification, .news {
  flex-basis: 50%;
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.753);
  color: #fff;
  cursor: pointer;
}

.focus {
  background-color: #000;
}

.notification-content li, .news-content li{
  padding: 5px;
  padding-left: 10px;
  padding-right: 12px;
  word-wrap: break-word;
}

.manageservice-form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-left: 30px;
  margin-left: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: 5em;
}


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-25 label{
  padding-left: 2em 
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
}


.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  width: 30%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  font-size: 110%;
  
  
  /*padding: 0px 12px;*/
  border: 1px solid #ccc;
  width: 60%;
  height: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
}