@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
         url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/nunito-sans-v3-vietnamese_latin-ext_latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
  }