.parent{
    width: 100%;
    display: inline-flex;
    margin-top : 2%;
    margin-left : 5%;
    margin-right : 5%;
}
.quick-view{
    flex-basis: 30%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px black solid;
    padding-top : 10%;
}
.info-table{
    flex-basis: 70%;
    margin : 5%;
}
.style-btn{
    margin-left: 50%;
}
.name-style {
    text-align:center;
    font-size: 1.5em;
}
.edit-profile{
    margin-top : 2%;
    margin-left : 5%;
    margin-right : 5%;
}
